@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Yesteryear');

.wrapper {
    background-color: #fff;
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#left { 
	background-color: #000;
	border: 1px black solid;
	padding: 0.1em;
	float: left;
	width: 10%;
	display: inline-block;
	margin: 0.5em;
	height: 100%;

}


.fill1 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('images/Artboard 3.jpg');

}

.fill2 {
    overflow: hidden;
    background-size: cover;
	background-position: center;
    background-image: url('images/Artboard 2.jpg');
}

.fill3 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('images/Artboard 1.jpg');
}

.articlelink1, .articlelink2, .articlelink3 {
	background-color: rgba(49,54,57,.5);
	font-family: Helvetica, sans-serif;
	font-weight: lighter;
	font-size: 1.1em;
	line-height: 1em;
	padding: 1em;
	width: 100%;
	float: none;

}


#right { 
	background-color: #000;
	border: 1px black solid;
	padding: 1em;
	float: left;
	width: 25%;
	display: inline-block;
	color: #fff;

}


h1 {
	font-family: 'Yesteryear', cursive;
	font-size: 2em;
	letter-spacing: 12px;
	text-align: center;
	color: #FFCFB4;
	border: 1px black solid;
    padding: 1em;
}

nav {
	font-family: 'open+sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #000;
	border: 1px black solid;
    padding: 1em;
    display: inline-block;
    float: none;
    text-align: center;
}


nav a:hover {
	background-color: #fff;
}



#slogan, #connect {
	font-family: 'open+sans', sans-serif;
	font-weight: lighter;
	font-size: 1em;
	color: #fff;
	background-color: #000;
	border: 1px black solid;
    padding: 1em;
    float: none;
    text-align: center;

}

#two {
	background-color: #000;
	border: 1px black solid;
    padding: 1em;
}

@media only screen and (max-width: 1230px) {
	#right { float: none;
		display: inline-block;
	 }

	 .fill1 {
	 	overflow: hidden;
	 	background-position: center;

	 }

	 .articlelink1, .articlelink2, .articlelink3 {
	 	font-size: 1em;


}


@media only screen and (max-width: 768px) {
	#left {
		width: 100%;
		align-content: center;
		text-align: center;
	}

	#right { float: none;
		width: 100%;
	 }

	 .fill1 {
	 	overflow: hidden;
	 	background-position: center;

	 }

	 .articlelink1, .articlelink2, .articlelink3 {
	 	font-size: 1em;

}

@media only screen and (max-width: 400px) {
	#left {
		width: 100%;
		align-content: center;
		text-align: center;
	}

	#right { float: none;
		width: 100%;
	 }

	 .fill1 {
	 	overflow: hidden;
	 	background-position: center;

	 }

	 .articlelink1, .articlelink2, .articlelink3 {
	 	font-size: 1em;

}




